@import "./vars.css";

.app {
  min-height: 100vh;
  width: 100%;
  background-color: var(--neutral-darkest);
  color: var(--neutral-light);
  display: flex;
  align-items: center;
}

.container {
  width: 95%;
  max-width: 1200px;
  min-height: 50vh;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
  }
}
