@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: var(--neutral-light);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
