:root {
  --primary-blue: hsl(246, 80%, 60%);
  --primary-work: hsl(15, 100%, 70%);
  --primary-play: hsl(195, 74%, 62%);
  --primary-study: hsl(348, 100%, 68%);
  --primary-exercise: hsl(145, 58%, 55%);
  --primary-social: hsl(264, 64%, 52%);
  --primary-self: hsl(43, 84%, 65%);

  --neutral-darkest: hsl(226, 43%, 10%);
  --neutral-dark: hsl(235, 46%, 20%);
  --neutral-dark--hover: hsl(236, 44%, 29%);
  --neutral-medium: hsl(235, 45%, 61%);
  --neutral-light: hsl(236, 100%, 87%);

  --border-radius: 25px;
}
